<section class="about section" id="about" style=" background-image: url('images/about/about-bg.jpg')">
    <div class="container">
        <div class="about__inner">
            <div class="about__box">
                <span class="about__text span-text__two">що кажуть люди</span>
                <h2 class="about__title title">Відгуки наших клієнтів</h2>
            </div>
            <ul class="about__items">
                <li class="about__item">
                    <article class="feedback-card">
                        <div class="feedback-card__header">
                            <div class="feedback-card__avatar">
                                <img class="feedback-card__img" src="images/about/photo11.png" alt="фото Роберт">
                            </div>
                            <h3 class=" feedback-card__title">Роберт</h3>
                            <span class="feedback-card__profession">Менеджер у торгівлі</span>
                            <div class="feedback-card__rating">
                                <span class="star one-star" data-rateyo-rating="4.5"></span>
                                <span class="feedback-card__rating feedback-card__rating--num">4.5</span>
                                <span class="sr-only">Додати рейтинг</span>
                            </div>
                        </div>
                        <p class="feedback-card__text">
                            Команда впоралася із завданням швидко та якісно, ​​мені відразу сподобався перший
                            запропонований
                            варіант екстер'єру,
                            далі були деталі та погодження.
                        </p>
                    </article>
                </li>
                <li class="about__item">
                    <article class="feedback-card">
                        <div class="feedback-card__header">
                            <div class="feedback-card__avatar">
                                <img class="feedback-card__img" src="images/about/photo2.png" alt="фото Олексій">
                            </div>
                            <h3 class=" feedback-card__title">Олексій</h3>
                            <span class="feedback-card__profession">Будівельник</span>
                            <div class="feedback-card__rating">
                                <span class="feedback-card__rating feedback-card__rating--num">4.5</span>
                                <span class="star one-star" data-rateyo-rating="4.5"></span>
                                <span class="sr-only">Додати рейтинг</span>
                            </div>
                        </div>
                        <p class="feedback-card__text">
                            Дякуємо за креативний та професійний підхід до розробки інтер'єру
                            Уважний та чуйний персонал, своєчасність та точність поставлених завдань.
                        </p>
                    </article>
                </li>
                <li class="about__item">
                    <article class="feedback-card">
                        <div class="feedback-card__header">
                            <div class="feedback-card__avatar">
                                <img class="feedback-card__img" src="images/about/photo3.png" alt="фото Назар">
                            </div>
                            <h3 class=" feedback-card__title">Назар</h3>
                            <span class="feedback-card__profession">Фітнес тренер</span>
                            <div class="feedback-card__rating">
                                <span class="star one-star" data-rateyo-rating="5"></span>
                                <span class="feedback-card__rating feedback-card__rating--num">5</span>
                                <span class="sr-only">Додати рейтинг</span>
                            </div>
                        </div>
                        <p class="feedback-card__text">
                            Вдячний всій команді за розробку затишного, оригінального проекту, за якість,
                            креативність, врахування всіх деталей та побажань.
                        </p>
                    </article>
                </li>
                <li class="about__item">
                    <article class="feedback-card">
                        <div class="feedback-card__header">
                            <div class="feedback-card__avatar">
                                <img class="feedback-card__img" src="images/about/photo4.png" alt="фото Роберт">
                            </div>
                            <h3 class=" feedback-card__title">Богдан</h3>
                            <span class="feedback-card__profession">Програміст</span>
                            <div class="feedback-card__rating">
                                <span class="star one-star" data-rateyo-rating="5"></span>
                                <span class="feedback-card__rating feedback-card__rating--num">5</span>
                                <span class="sr-only">Додати рейтинг</span>
                            </div>
                        </div>
                        <p class="feedback-card__text">
                            Було зручно працювати!
                            Результат сподобався!
                            Враховуються усі побажання, прохання, пропонують варіанти.Дякую.
                        </p>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>