<section class="blog" id="бlog">
    <div class="container">
        <div class="blog__top">
            <span class="blog__text span-text__two">Блог</span>
            <h2 class="blog__title title">Наші останні новини</h2>
        </div>
        <ul class="blog__slider slider">
            <li class="blog__item">
                <article class="blog-card">
                    <img class="blog-card__media" src="images/blog/photo1.jpg" alt="фото інтер'єру з кріслом">
                    <div class="blog-card__badge">
                        <time datetime="2023-03-21">
                            <span class="blog-card__badge-date">17</span>
                            <span class="blog-card__badge-month">Сич</span>
                        </time>
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__action">
                            <a class="blog-card__action-link blog-card__action-link--author" href="#">
                                <svg class="blog-card__svg blog-card__svg--author" width="15" height="16">
                                    <use xlink:href="images/sprite.svg#ava"></use>
                                </svg>
                                Махно С.</a>
                            <a class="blog-card__action-link blog-card__action-link--comments" href="#">
                                <svg class="blog-card__svg blog-card__svg--comments" width=" 16" height="15">
                                    <use xlink:href="images/sprite.svg#com"></use>
                                </svg>
                                9 Коментарі</a>
                        </div>
                        <p class="blog-card__text">Основні стилі та напрямки в інтер'єрі</p>
                        <a class="blog-card__link btn link" href="#">Дивитися ще</a>
                    </div>
                </article>
            </li>
            <li class="blog__item">
                <article class="blog-card">
                    <img class="blog-card__media" src="images/blog/photo2.jpg" alt="фото інтер'єру з квітами">
                    <div class="blog-card__badge">
                        <time datetime="2023-03-21">
                            <span class="blog-card__badge-date">05</span>
                            <span class="blog-card__badge-month">Жов</span>
                        </time>
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__action">
                            <a class="blog-card__action-link blog-card__action-link--author" href="#">
                                <svg class="blog-card__svg blog-card__svg--author" width="15" height="16">
                                    <use xlink:href="images/sprite.svg#ava"></use>
                                </svg>
                                Балбек В.</a>
                            <a class="blog-card__action-link blog-card__action-link--comments" href="#">
                                <svg class="blog-card__svg blog-card__svg--comments" width=" 16" height="15">
                                    <use xlink:href="images/sprite.svg#com"></use>
                                </svg>
                                8 Коментарі</a>
                        </div>
                        <p class="blog-card__text">Основні стилі та напрямки в інтер'єрі</p>
                        <a class="blog-card__link btn link" href="#">Дивитися ще</a>
                    </div>
                </article>
            </li>
            <li class="blog__item">
                <article class="blog-card">
                    <img class="blog-card__media" src="images/blog/photo3.jpg" alt="фото інтер'єру з диваном">
                    <div class="blog-card__badge">
                        <time datetime="2023-03-21">
                            <span class="blog-card__badge-date">28</span>
                            <span class="blog-card__badge-month">Квiт</span>
                        </time>
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__action">
                            <a class="blog-card__action-link blog-card__action-link--author" href="#">
                                <svg class="blog-card__svg blog-card__svg--author" width="15" height="16">
                                    <use xlink:href="images/sprite.svg#ava"></use>
                                </svg>
                                Аранчий Д.</a>
                            <a class="blog-card__action-link blog-card__action-link--comments" href="#">
                                <svg class="blog-card__svg blog-card__svg--comments" width=" 16" height="15">
                                    <use xlink:href="images/sprite.svg#com"></use>
                                </svg>
                                19 Коментарі</a>
                        </div>
                        <p class="blog-card__text">Багатофункціональні меблі, вигідно та практично</p>
                        <a class="blog-card__link btn link" href="#">Дивитися ще</a>
                    </div>
                </article>
            </li>
            <li class="blog__item">
                <article class="blog-card">
                    <img class="blog-card__media" src="images/blog/photo2.jpg" alt="фото інтер'єру з квітами">
                    <div class="blog-card__badge">
                        <time datetime="2023-03-21">
                            <span class="blog-card__badge-date">05</span>
                            <span class="blog-card__badge-month">Трав</span>
                        </time>
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__action">
                            <a class="blog-card__action-link blog-card__action-link--author" href="#">
                                <svg class="blog-card__svg blog-card__svg--author" width="15" height="16">
                                    <use xlink:href="images/sprite.svg#ava"></use>
                                </svg>
                                Балбек В.</a>
                            <a class="blog-card__action-link blog-card__action-link--comments" href="#">
                                <svg class="blog-card__svg blog-card__svg--comments" width=" 16" height="15">
                                    <use xlink:href="images/sprite.svg#com"></use>
                                </svg>
                                8 Коментарі</a>
                        </div>
                        <p class="blog-card__text">Основні стилі та напрямки в інтер'єрі</p>
                        <a class="blog-card__link btn link" href="#">Дивитися ще</a>
                    </div>
                </article>
            </li>
            <li class="blog__item">
                <article class="blog-card">
                    <img class="blog-card__media" src="images/blog/photo1.jpg" alt="фото інтер'єру з диваном">
                    <div class="blog-card__badge">
                        <time datetime="2023-03-21">
                            <span class="blog-card__badge-date">28</span>
                            <span class="blog-card__badge-month">Груд</span>
                        </time>
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__action">
                            <a class="blog-card__action-link blog-card__action-link--author" href="#">
                                <svg class="blog-card__svg blog-card__svg--author" width="15" height="16">
                                    <use xlink:href="images/sprite.svg#ava"></use>
                                </svg>
                                Махно С.</a>
                            <a class="blog-card__action-link blog-card__action-link--comments" href="#">
                                <svg class="blog-card__svg blog-card__svg--comments" width=" 16" height="15">
                                    <use xlink:href="images/sprite.svg#com"></use>
                                </svg>
                                9 Коментарі</a>
                        </div>
                        <p class="blog-card__text">Основні стилі та напрямки в інтер'єрі</p>
                        <a class="blog-card__link btn link" href="#">Дивитися ще</a>
                    </div>
                </article>
            </li>
            <li class="blog__item">
                <article class="blog-card">
                    <img class="blog-card__media" src="images/blog/photo3.jpg" alt="фото інтер'єру з кріслом">
                    <div class="blog-card__badge">
                        <time datetime="2023-03-21">
                            <span class="blog-card__badge-date">13</span>
                            <span class="blog-card__badge-month">Лют</span>
                        </time>
                    </div>
                    <div class="blog-card__content">
                        <div class="blog-card__action">
                            <a class="blog-card__action-link blog-card__action-link--author" href="#">
                                <svg class="blog-card__svg blog-card__svg--author" width=" 15" height="16">
                                    <use xlink:href="images/sprite.svg#ava"></use>
                                </svg>
                                Аранчий Д.</a>
                            <a class="blog-card__action-link blog-card__action-link--comments" href="#">
                                <svg class="blog-card__svg blog-card__svg--comments" width=" 16" height="15">
                                    <use xlink:href="images/sprite.svg#com"></use>
                                </svg>
                                19 Коментарі</a>
                        </div>
                        <p class="blog-card__text">Багатофункціональні меблі, вигідно та практично</p>
                        <a class="blog-card__link btn link" href="#">Дивитися ще</a>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>