<section class="catalog" id="сatalog">
    <div class="container">
        <div class="catalog__top">
            <span class="catalog__text span-text__one">професiйна команда</span>
            <div class="catalog__box">
                <h2 class="catalog__title title">Каталог товарів</h2>
                <ul class="filter">
                    <li class="filter__item">
                        <button class="filter__btn" data-filter="all" type="button">
                            Все
                        </button>
                    </li>
                    <li class="filter__item">
                        <button class="filter__btn" data-filter=".table" type="button">
                            Стіл
                        </button>
                    </li>
                    <li class="filter__item">
                        <button class="filter__btn" data-filter=".lamp" type="button">
                            Лампи
                        </button>
                    </li>
                    <li class="filter__item">
                        <button class="filter__btn" data-filter=".flower" type="button">
                            Квіти
                        </button>
                    </li>
                    <li class="filter__item">
                        <button class="filter__btn" data-filter=".chair" type="button">
                            Стілець
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="catalog__inner">
            <ul class="catalog__items">
                <li class="catalog__item mix chair">
                    <article class="product-card">
                        <div class="product-card__header">
                            <img class="product-card__img" src="images/catalog/photo1.png" width="103" height="146"
                                alt="Стілець бежевий">
                        </div>
                        <div class="product-card__content">
                            <ul class="product-card__actions">
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#rotation"></use>
                                        </svg>
                                        <span class="sr-only">Обертання товару</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="17" height="15">
                                            <use xlink:href="images/sprite.svg#favorites"></use>
                                        </svg>
                                        <span class="sr-only">Додати до обраного</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="16" height="15">
                                            <use xlink:href="images/sprite.svg#cart_mini"></use>
                                        </svg>
                                        <span class="sr-only">Додати до кошика</span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="product-card__title">Крісло Охра</h2>
                            <div class="product-card__details">
                                <div class="product-card__price">
                                    <span class="product-card__price-item product-card__price-item--old">20
                                        <span class="product-card__currency">₴</span></span>
                                    <span class="product-card__price-item">15
                                        <span class="product-card__currency">₴</span></span>
                                </div>
                                <div class="product-card__rating">
                                    <span class="star multiple-star" data-rateyo-rating="5"></span>
                                    <span class="sr-only">Додати рейтинг</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item  mix table">
                    <article class="product-card">
                        <div class="product-card__header">
                            <img class="product-card__img" src="images/catalog/photo2.png" width="103" height="146"
                                alt="Крісло">
                        </div>
                        <div class="product-card__content">
                            <ul class="product-card__actions">
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#rotation"></use>
                                        </svg>
                                        <span class="sr-only">Обертання товару</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="17" height="15">
                                            <use xlink:href="images/sprite.svg#favorites"></use>
                                        </svg>
                                        <span class="sr-only">Додати до обраного</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="16" height="15">
                                            <use xlink:href="images/sprite.svg#cart_mini"></use>
                                        </svg>
                                        <span class="sr-only">Додати до кошика</span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="product-card__title">Крісло Льон</h2>
                            <div class="product-card__details">
                                <div class="product-card__price">
                                    <span class="product-card__price-item product-card__price-item--old">18
                                        <span class="product-card__currency">₴</span></span>
                                    <span class="product-card__price-item">12
                                        <span class="product-card__currency">₴</span></span>
                                </div>
                                <div class="product-card__rating">
                                    <span class="star multiple-star" data-rateyo-rating="5"></span>
                                    <span class="sr-only">Додати рейтинг</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item  mix flower">
                    <article class="product-card">
                        <div class="product-card__header">
                            <img class="product-card__img" src="images/catalog/photo3.png" width="103" height="142"
                                alt="Коралова ваза">
                        </div>
                        <div class="product-card__content">
                            <ul class="product-card__actions">
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#rotation"></use>
                                        </svg>
                                        <span class="sr-only">Обертання товару</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="17" height="15">
                                            <use xlink:href="images/sprite.svg#favorites"></use>
                                        </svg>
                                        <span class="sr-only">Додати до обраного</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="16" height="15">
                                            <use xlink:href="images/sprite.svg#cart_mini"></use>
                                        </svg>
                                        <span class="sr-only">Додати до кошика</span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="product-card__title">Коралова ваза</h2>
                            <div class="product-card__details">
                                <div class="product-card__price">
                                    <span class="product-card__price-item">15
                                        <span class="product-card__currency">₴</span></span>
                                </div>
                                <div class="product-card__rating">
                                    <span class="star multiple-star" data-rateyo-rating="5"></span>
                                    <span class="sr-only">Додати рейтинг</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item mix chair">
                    <article class="product-card">
                        <div class="product-card__header">
                            <img class="product-card__img" src="images/catalog/photo4.png" width="103" height="154"
                                alt="Стілець кухонний">
                        </div>
                        <div class="product-card__content">
                            <ul class="product-card__actions">
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#rotation"></use>
                                        </svg>
                                        <span class="sr-only">Обертання товару</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="17" height="15">
                                            <use xlink:href="images/sprite.svg#favorites"></use>
                                        </svg>
                                        <span class="sr-only">Додати до обраного</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="16" height="15">
                                            <use xlink:href="images/sprite.svg#cart_mini"></use>
                                        </svg>
                                        <span class="sr-only">Додати до кошика</span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="product-card__title">Стілець кухонний</h2>
                            <div class="product-card__details">
                                <div class="product-card__price">
                                    <span class="product-card__price-item">8
                                        <span class="product-card__currency">₴</span></span>
                                </div>
                                <div class="product-card__rating">
                                    <span class="star multiple-star" data-rateyo-rating="5"></span>
                                    <span class="sr-only">Додати рейтинг</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item mix lamp">
                    <article class="product-card">
                        <div class="product-card__header">
                            <img class="product-card__img" src="images/catalog/photo5.png" width="90" height="146"
                                alt="Лампа настільна">
                        </div>
                        <div class="product-card__content">
                            <ul class="product-card__actions">
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#rotation"></use>
                                        </svg>
                                        <span class="sr-only">Обертання товару</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="17" height="15">
                                            <use xlink:href="images/sprite.svg#favorites"></use>
                                        </svg>
                                        <span class="sr-only">Додати до обраного</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="16" height="15">
                                            <use xlink:href="images/sprite.svg#cart_mini"></use>
                                        </svg>
                                        <span class="sr-only">Додати до кошика</span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="product-card__title">Лампа настільна</h2>
                            <div class="product-card__details">
                                <div class="product-card__price">
                                    <span class="product-card__price-item">15
                                        <span class="product-card__currency">₴</span></span>
                                </div>
                                <div class="product-card__rating">
                                    <span class="star multiple-star" data-rateyo-rating="5"></span>
                                    <span class="sr-only">Додати рейтинг</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item mix flower">
                    <article class="product-card">
                        <div class="product-card__header">
                            <img class="product-card__img" src="images/catalog/photo6.png" width="80" height="146"
                                alt="Вазон кругле дерево">
                        </div>
                        <div class="product-card__content">
                            <ul class="product-card__actions">
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#rotation"></use>
                                        </svg>
                                        <span class="sr-only">Обертання товару</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="17" height="15">
                                            <use xlink:href="images/sprite.svg#favorites"></use>
                                        </svg>
                                        <span class="sr-only">Додати до обраного</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="16" height="15">
                                            <use xlink:href="images/sprite.svg#cart_mini"></use>
                                        </svg>
                                        <span class="sr-only">Додати до кошика</span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="product-card__title">Вазон кругле дерево</h2>
                            <div class="product-card__details">
                                <div class="product-card__price">
                                    <span class="product-card__price-item product-card__price-item--old">20
                                        <span class="product-card__currency">₴</span></span>
                                    <span class="product-card__price-item">12
                                        <span class="product-card__currency">₴</span></span>
                                </div>
                                <div class="product-card__rating">
                                    <span class="star multiple-star" data-rateyo-rating="5"></span>
                                    <span class="sr-only">Додати рейтинг</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item mix lamp">
                    <article class="product-card">
                        <div class="product-card__header">
                            <img class="product-card__img" src="images/catalog/photo7.png" width="103" height="146"
                                alt="Стілець м'яка спинка">
                        </div>
                        <div class="product-card__content">
                            <ul class="product-card__actions">
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#rotation"></use>
                                        </svg>
                                        <span class="sr-only">Обертання товару</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="17" height="15">
                                            <use xlink:href="images/sprite.svg#favorites"></use>
                                        </svg>
                                        <span class="sr-only">Додати до обраного</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="16" height="15">
                                            <use xlink:href="images/sprite.svg#cart_mini"></use>
                                        </svg>
                                        <span class="sr-only">Додати до кошика</span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="product-card__title">Стілець м'яка спинка</h2>
                            <div class="product-card__details">
                                <div class="product-card__price">
                                    <span class="product-card__price-item product-card__price-item--old">25
                                        <span class="product-card__currency">₴</span></span>
                                    <span class="product-card__price-item">13
                                        <span class="product-card__currency">₴</span></span>
                                </div>
                                <div class="product-card__rating">
                                    <span class="star multiple-star" data-rateyo-rating="5"></span>
                                    <span class="sr-only">Додати рейтинг</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
                <li class="catalog__item  mix table">
                    <article class="product-card">
                        <div class="product-card__header">
                            <img class="product-card__img" src="images/catalog/photo8.png" width="103" height="146"
                                alt="Стілець дерев'яний">
                        </div>
                        <div class="product-card__content">
                            <ul class="product-card__actions">
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="14" height="15">
                                            <use xlink:href="images/sprite.svg#rotation"></use>
                                        </svg>
                                        <span class="sr-only">Обертання товару</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="17" height="15">
                                            <use xlink:href="images/sprite.svg#favorites"></use>
                                        </svg>
                                        <span class="sr-only">Додати до обраного</span>
                                    </button>
                                </li>
                                <li class="product-card__item">
                                    <button class="product-card__btn" type="button">
                                        <svg class="product-card__svg" width="16" height="15">
                                            <use xlink:href="images/sprite.svg#cart_mini"></use>
                                        </svg>
                                        <span class="sr-only">Додати до кошика</span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="product-card__title">Стілець дерев'яний</h2>
                            <div class="product-card__details">
                                <div class="product-card__price">
                                    <span class="product-card__price-item product-card__price-item--old">17
                                        <span class="product-card__currency">₴</span></span>
                                    <span class="product-card__price-item">14
                                        <span class="product-card__currency">₴</span></span>
                                </div>
                                <div class="product-card__rating">
                                    <span class="star multiple-star" data-rateyo-rating="5"></span>
                                    <span class="sr-only">Додати рейтинг</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
</section>