<section class="collection">
    <div class="container">
        <ul class="collection-slider">
            <li class="collection-slider__item">
                <article class="collection-card">
                    <div class="collection-card__header">
                        <h2 class="collection-card__title">Новий стілець Колекція</h2>
                        <button class="collection-card__btn btn" type="button">
                            купити
                            <span class="sr-only">купити</span>
                        </button>
                    </div>
                    <img class="collection-card__img" src="images/collection/photo1.png" alt="Стілець дерев'яний">
                </article>
            </li>
            <li class="collection-slider__item">
                <article class="collection-card">
                    <div class="collection-card__header">
                        <h2 class="collection-card__title">Лампа настільна</h2>
                        <button class="collection-card__btn btn" type="button">
                            купити
                            <span class="sr-only">купити</span>
                        </button>
                    </div>
                    <img class="collection-card__img" src="images/collection/photo2.png" alt="Лампа настільна">
                </article>
            </li>
            <li class="collection-slider__item">
                <article class="collection-card">
                    <div class="collection-card__header">
                        <h2 class="collection-card__title">Сучасний стілець Колекція 2023</h2>
                        <button class="collection-card__btn btn" type="button">
                            купити
                            <span class="sr-only">купити</span>
                        </button>
                    </div>
                    <img class="collection-card__img" src="images/collection/photo3.png"
                        alt="Сучасний стілець Колекція 2023">
                </article>
            </li>
            <li class="collection-slider__item">
                <article class="collection-card">
                    <div class="collection-card__header">
                        <h2 class="collection-card__title">Новий стілець Колекція 2023</h2>
                        <button class="collection-card__btn btn" type="button">
                            купити
                            <span class="sr-only">купити</span>
                        </button>
                    </div>
                    <img class="collection-card__img" src="images/collection/photo1.png" alt="Стілець дерев'яний">
                </article>
            </li>
            <li class="collection-slider__item">
                <article class="collection-card">
                    <div class="collection-card__header">
                        <h2 class="collection-card__title">Сучасний стілець Колекція 2023</h2>
                        <button class="collection-card__btn btn" type="button">
                            купити
                            <span class="sr-only">купити</span>
                        </button>
                    </div>
                    <img class="collection-card__img" src="images/collection/photo3.png"
                        alt="Сучасний стілець Колекція 2023">
                </article>
            </li>
            <li class="collection-slider__item">
                <article class="collection-card">
                    <div class="collection-card__header">
                        <h2 class="collection-card__title">Лампа настільна</h2>
                        <button class="collection-card__btn btn" type="button">
                            купити
                            <span class="sr-only">купити</span>
                        </button>
                    </div>
                    <img class="collection-card__img" src="images/collection/photo2.png" alt="Лампа настільна">
                </article>
            </li>
        </ul>
    </div>
</section>