<footer class="footer" id="contact">
    <div class="footer__content">
        <a class="logo logo--footer" href="index.html">
            <svg class="logo__svg" width="32" height="35">
                <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
            <p class="logo__text logo__text--mobile">Iнтер'єр</p>
        </a>
        <h2 class="footer__title">Завжди на зв'язку</h2>
        <p class="footer__text">Напишіть нам і ми обов'язково зв'яжемося з вами</p>
        <form class="footer-form">
            <label class="footer-form__label">
                <span class="sr-only">Ваш email</span>
                <input class="footer-form__input" type="email" name="subscribe" placeholder="email-email@.com" required>
            </label>
            <button class="footer-form__btn" type="submit">Відправити</button>
        </form>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__wrapper">
                <p class="footer-bottom__copy">© 2023 Iнтер'єр</p>
                <ul class="social-network social-network--footer">
                    <li class="social-network__item">
                        <a class="social-network__link" target="_blank" rel="noopener noreferrer" href="#">
                            <svg class="social-network__svg" width="24" height="24">
                                <use xlink:href="images/sprite.svg#faceb"></use>
                            </svg>
                            <span class="sr-only">Перейти у фейсбук</span>
                        </a>
                    </li>
                    <li class="social-network__item">
                        <a class="social-network__link" target="_blank" rel="noopener noreferrer" href="#">
                            <svg class="social-network__svg" width="24" height="24">
                                <use xlink:href="images/sprite.svg#instagram"></use>
                            </svg>
                            <span class="sr-only">Перейти до інстаграм</span>
                        </a>
                    </li>
                    <li class="social-network__item">
                        <a class="social-network__link" target="_blank" rel="noopener noreferrer" href="#">
                            <svg class="social-network__svg" width="24" height="24">
                                <use xlink:href="images/sprite.svg#twi"></use>
                            </svg>
                            <span class="sr-only">Перейти у твіттер</span>
                        </a>
                    </li>
                    <li class="social-network__item">
                        <a class="social-network__link" target="_blank" rel="noopener noreferrer" href="#">
                            <svg class="social-network__svg" width="24" height="24">
                                <use xlink:href="images/sprite.svg#linkedin"></use>
                            </svg>
                            <span class="sr-only">Перейти в Лінкедін</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>