<section class="hero" id="home" style="background-image: url('images/hero/hero-bg.jpg')">
    <div class="container">
        <div class="hero__inner">
            <div class="hero-content">
                <span class="hero-content__text">інтер'єр</span>
                <h1 class="hero-content__title">Дизайн будинків<br> Легко і просто</h1>
                <div class="hero-content__price">
                    <div class="price price--hero">
                        <span class="price__currency price__currency--hero">💲</span>
                        <span class="price__num price__num--hero">416.00</span>
                        <span class="price__text price__text--hero">Початкова</span>
                    </div>
                </div>
                <button class="hero-content__btn btn" type="button">
                    замовити
                    <span class="sr-only">замовити зараз</span>
                </button>
            </div>
        </div>
    </div>
</section>