<section class="top-product">
    <div class="container">
        <div class="top-product__top">
            <span class="top-product__text span-text__one">популярні продукти</span>
            <div class="top-product__box">
                <h2 class="top-product__title title">Найкращі пропозиції</h2>
                <a class="top-product__link btn link" href="">
                    Дивитися ще
                </a>
            </div>
            <div class="top-product__inner">
                <ul class="top-product__items">
                    <li class="top-product__item">
                        <article class="product-card">
                            <div class="product-card__header">
                                <img class="product-card__img" src="images/top-product/photo3.png" width="103"
                                    height="142" alt="Коралова ваза">
                            </div>
                            <div class="product-card__content">
                                <ul class="product-card__actions">
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="14" height="15">
                                                <use xlink:href="images/sprite.svg#rotation"></use>
                                            </svg>
                                            <span class="sr-only">Обертання товару</span>
                                        </button>
                                    </li>
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="17" height="15">
                                                <use xlink:href="images/sprite.svg#favorites"></use>
                                            </svg>
                                            <span class="sr-only">Додати до обраного</span>
                                        </button>
                                    </li>
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="16" height="15">
                                                <use xlink:href="images/sprite.svg#cart_mini"></use>
                                            </svg>
                                            <span class="sr-only">Додати до кошика</span>
                                        </button>
                                    </li>
                                </ul>
                                <h2 class="product-card__title">Коралова ваза</h2>
                                <div class="product-card__details">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item">15
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                    <div class="product-card__rating">
                                        <span class="star multiple-star" data-rateyo-rating="5"></span>
                                        <span class="sr-only">Додати рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="top-product__item">
                        <article class="product-card">
                            <div class="product-card__header">
                                <img class="product-card__img" src="images/top-product/photo8.png" width="103"
                                    height="146" alt="Стілець дерев'яний">
                            </div>
                            <div class="product-card__content">
                                <ul class="product-card__actions">
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="14" height="15">
                                                <use xlink:href="images/sprite.svg#rotation"></use>
                                            </svg>
                                            <span class="sr-only">Обертання товару</span>
                                        </button>
                                    </li>
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="17" height="15">
                                                <use xlink:href="images/sprite.svg#favorites"></use>
                                            </svg>
                                            <span class="sr-only">Додати до обраного</span>
                                        </button>
                                    </li>
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="16" height="15">
                                                <use xlink:href="images/sprite.svg#cart_mini"></use>
                                            </svg>
                                            <span class="sr-only">Додати до кошика</span>
                                        </button>
                                    </li>
                                </ul>
                                <h2 class="product-card__title">Стілець дерев'яний</h2>
                                <div class="product-card__details">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item product-card__price-item--old">17
                                            <span class="product-card__currency">₴</span></span>
                                        <span class="product-card__price-item">14
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                    <div class="product-card__rating">
                                        <span class="star multiple-star" data-rateyo-rating="5"></span>
                                        <span class="sr-only">Додати рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="top-product__item">
                        <article class="product-card">
                            <div class="product-card__header">
                                <img class="product-card__img" src="images/top-product/photo5.png" width="90"
                                    height="146" alt="Лампа настільна">
                            </div>
                            <div class="product-card__content">
                                <ul class="product-card__actions">
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="14" height="15">
                                                <use xlink:href="images/sprite.svg#rotation"></use>
                                            </svg>
                                            <span class="sr-only">Обертання товару</span>
                                        </button>
                                    </li>
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="17" height="15">
                                                <use xlink:href="images/sprite.svg#favorites"></use>
                                            </svg>
                                            <span class="sr-only">Додати до обраного</span>
                                        </button>
                                    </li>
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="16" height="15">
                                                <use xlink:href="images/sprite.svg#cart_mini"></use>
                                            </svg>
                                            <span class="sr-only">Додати до кошика</span>
                                        </button>
                                    </li>
                                </ul>
                                <h2 class="product-card__title">Лампа настільна</h2>
                                <div class="product-card__details">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item">15
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                    <div class="product-card__rating">
                                        <span class="star multiple-star" data-rateyo-rating="5"></span>
                                        <span class="sr-only">Додати рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="top-product__item">
                        <article class="product-card">
                            <div class="product-card__header">
                                <img class="product-card__img" src="images/top-product/photo6.png" width="80"
                                    height="146" alt="Вазон кругле дерево">
                            </div>
                            <div class="product-card__content">
                                <ul class="product-card__actions">
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="14" height="15">
                                                <use xlink:href="images/sprite.svg#rotation"></use>
                                            </svg>
                                            <span class="sr-only">Обертання товару</span>
                                        </button>
                                    </li>
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="17" height="15">
                                                <use xlink:href="images/sprite.svg#favorites"></use>
                                            </svg>
                                            <span class="sr-only">Додати до обраного</span>
                                        </button>
                                    </li>
                                    <li class="product-card__item">
                                        <button class="product-card__btn" type="button">
                                            <svg class="product-card__svg" width="16" height="15">
                                                <use xlink:href="images/sprite.svg#cart_mini"></use>
                                            </svg>
                                            <span class="sr-only">Додати до кошика</span>
                                        </button>
                                    </li>
                                </ul>
                                <h2 class="product-card__title">Вазон кругле дерево</h2>
                                <div class="product-card__details">
                                    <div class="product-card__price">
                                        <span class="product-card__price-item product-card__price-item--old">20
                                            <span class="product-card__currency">₴</span></span>
                                        <span class="product-card__price-item">12
                                            <span class="product-card__currency">₴</span></span>
                                    </div>
                                    <div class="product-card__rating">
                                        <span class="star multiple-star" data-rateyo-rating="5"></span>
                                        <span class="sr-only">Додати рейтинг</span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
            <div class="advantages" id="services">
                <ul class="advantages__items">
                    <li class="advantages__item advantages__item--car">
                        <div class="advantages__info">
                            <p class="advantages__subtitle">Безкоштовна доставка</p>
                            <p class="advantages__text">від суми замовлення 350 &#8372;</p>
                        </div>
                    </li>
                    <li class="advantages__item advantages__item--gift">
                        <div class="advantages__info">
                            <p class="advantages__subtitle">Безкоштовне повернення</p>
                            <p class="advantages__text">протягом 25 днів</p>
                        </div>
                    </li>
                    <li class="advantages__item advantages__item--secure">
                        <div class="advantages__info">
                            <p class="advantages__subtitle">100% безпека</p>
                            <p class="advantages__text">100% безпечний платіж</p>
                        </div>
                    </li>
                    <li class="advantages__item  advantages__item--price">
                        <div class="advantages__info">
                            <p class="advantages__subtitle">Найкраща ціна</p>
                            <p class="advantages__text">подарунки</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>